<header class="main-container bgr-color">
	<div class="header-content">
		<h1>{{title}}</h1>
		<div class="links-container">
			<a href="/">Weather</a>
			<a href="/about">About</a>
			<a href="/help">Help</a>        
		</div>
	</div>
</header>
